<!DOCTYPE html>
<html>
    <head>
       

        {% block head%}
        <title>
            ruby sparks
        </title>
        {% endblock %}

        
        <link rel="stylesheet" href="/arq.css">

    </head>

    <body>
        <header>

            
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portifolio">Aulas</a>
            </div>
        </header>

       {% block content %}
      
       
       {% endblock %}

    </body>
</html>
